/*
 Black hole button 
 Clusters of shooting stars
 sun blows up and sucks evrything in
*/

:root{
    --outline-color: #FFFFFF99; /* #FFFFFF99 */
}

@font-face {
    font-family: pixelArt;
    src: url("/assets/fonts/pixel-comic-sans-undertale-sans-font.ttf");
}


.planet{
    position: fixed;
    left: 0;
    top: 0;
    /* background-color: red; */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    cursor: pointer;
}

#mateiPlanet{
    background-image: url("/assets/Images/sun.webp");
    background-size:contain;
}

#projectsPlanet{
    background-image: url("/assets/Images/earth_planet.webp");
    background-size:contain;
}
#lamePlanet{
    background-image: url("/assets/Images/mars_planet.webp");
    background-size:contain;
}
#planet4{
    background-image: url("/assets/Images/snow_planet.webp");
    background-size:contain;
}
#planet5{
    background-image: url("/assets/Images/ring_planet.webp");
    background-size:contain;
}
#planet6{
    background-image: url("/assets/Images/crater_planet.webp");
    background-size:contain;
}

.planet-inner-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner{
    position: absolute;
    top: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100%;
    

    background-image: url("/assets/Images/banner2.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.red-banner{
    background-image: url("/assets/Images/banner3.webp");
}

.banner-svg{
    width: 100%;
}


.planet-desc{

    cursor:pointer;

    line-height: 1.75;

    text-align: center;
    font-family: pixelArt;
    color: black;
    /* background-color: white; */
    padding: 0px 5px;
}

.planet-desc, .galaxy{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}